<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-main="javascripts/home" src="javascripts/lib/require-jquery.js"></script>
  </head>
  <body>
    <canvas height="300px" width="300px"></canvas>
  </body>
</html>
